@CHARSET "UTF-8";
html {
	height:100%;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;	
/* 	background-color:#ccc; */
	color:#333;
}

.grey {color:#becbdc }
.grey2 { color:#949ead}

a{
	color:#333;
	text-decoration:none;
}
.panel{
	height:100%;
	float:left;	
}

.sep{
	width: 2px;
	background-color: #CCC;
	position: absolute;
	top: 74px;	
	z-index: 2;
	/*height: 452px;*/
}

#panel_left, #panel_right{
	height:100%;
	position:relative;
}
#map_left, #map_right{
	height:100%;
}


header{
	height:72px;
	background-color:#2d384f;
	border-bottom:1px solid #cccccc;	
	margin-bottom:2px;
}

header nav a{
	float: left;
	background: url("../img/MED_separador_cab2.png") no-repeat top right;
	line-height: 72px;
	height: 72px;
	color: #becbdc;
	font-size: 11px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 12px;
	text-shadow: #013e88 0px -1px 0px;
}

header nav a:HOVER{
	color: white;
}

header .left{
	background:#222d46 url("../img/MED_separador_cab1.png") repeat-y right top;
	float:left;
	width:450px;
	height:72px;
	
}
.fleft{	float:left;}
.fright{ float:right;}
header #logo{
	margin-top: 10px;
	margin-left: 22px;	
}

header #search{
	background: white url("../img/MED_icon_buscar.png") no-repeat 353 6;
	padding-right: 22px;
	color: #013e88;
	font-size: 14px;
	margin-left: 30px;
	margin-top: 19px;
	border: 1px solid #000;
	width: 380px;
	padding-left: 10px;
	height: 33px;
	
}

footer{
	height:90px;
	background-color:#333d55;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

footer p.fund{
	color: #949ead;
	font-size:10px;
	margin-top:20px;
	margin-right:10px;
	text-align:right
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.split_ctrl{
	
	
	
}
img.toggle{
	position:absolute;
	top:90px;
	z-index:4;
	cursor:pointer;
}

img.sync{
	position:absolute;
	top:125px;
	z-index:4;	
	cursor:pointer;
}

#panel_left .split_ctrl img.toggle{
	right:1px;	
}
#panel_left .split_ctrl img.sync{
	right:0px;	
}
#panel_right .split_ctrl img.sync{
	left:0px;	
}
#panel_right .split_ctrl img.toggle{
	left:1px;	
}


p.credits{
	margin-top:15px;
	margin-right:20px;
	text-align:right;
	color:#becbdc;
	text-shadow: #013e88 0px -1px 0px;
}

.layer_ctrl{
	background:url("../img/MED_icon_capas.png") no-repeat left 9px #f0f0f0;
	position:absolute;
	bottom: 0px;
	right:0px;
	z-index:4;
	height: 24px;
	line-height:24px;
	padding-left: 10px;
	padding-right: 25px;
	color:#333333 !important;
	font-weight:bold;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	border-top: 1px solid #888;
	border-left: 1px solid #888;
/* 	-webkit-border-radius: 5px; */
/* 	border-radius: 5px; */
	border-top-left-radius: 5px;
	text-shadow: #fff 0px -1px 0px;
	z-index:1002;
	background-position: 55px;
	
}
.layer_ctrl.open{
	background-image: url("../img/MED_icon_cerrar_capas.png");	
}

.layer_panel{
	position: absolute;	
	background-color: white;
	bottom: -44;
	right:0;
	width: 350px;	
/* 	height: 70%; */
	z-index:1001;
/* 	padding-bottom:40px; */
	padding-top:70px;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-radius: 4px 0px 0px 0px;

}

.layer_panel.close{
	background: url("../img/MED_fondo_capas.png") repeat-x left top;
	height: 60px;
	overflow: hidden;	
	z-index:1;
	padding-bottom:0;
	padding-top:0;
	width: 100%;	
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid #ccc;
	
	transition: display .5s ease;
  -webkit-transition: display .5s ease;
  -moz-transition: display .5s ease;
  -o-transition: display .5s ease;
	
}
ul.layer_panel li{
	height:25px;
	clear:both;
	border-bottom: 1px solid #E5E5E5;
	color:#cccccc;
	padding-left:10px;
/* 	padding-right:25px;	 */
/* 	line-height: 35px; */
	position: relative;
	bottom: 70px;
	background: url("../img/border_img.gif") repeat-y 8px white;
	cursor:move;
}

ul.layer_panel li:FIRST-CHILD{
/* 	padding-left: 43px; */
	color:black;
	border-radius: 2px;
}

/* ul.layer_panel li span{ */
/* 	float:left;	 */
/* } */

ul.layer_panel li input[type="checkbox"]{
	margin-top: 7px;
	margin-left: 0px;
	margin-right: 20px;
	float: left;
}

ul.layer_panel li a{
	float: left;
	margin-right: 8px;
/* 	margin-top: 5px; */
}

ul.layer_panel > li > img {
	float: right;
	padding: 5px 15px 5px 10px;
	cursor: pointer;
}

ul.layer_panel > li > img.remove {
	display: none;
	padding-left: 0px;
}


ul.layer_panel > li > img.legend {
	padding: 5px 0px;
}

ul.layer_panel > li > span {
	margin-right: 30px;
/* 	margin-left: 25px; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url('ellipsis.xml#ellipsis');
/* 	border-left: 1px solid #ccc; */
	color: #000;
/* 	font-size: 10px; */
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
}


ul.layer_panel > li:hover > img.remove {
	display: inline;
}

ul.layer_panel > li:hover > img.opacity {
	margin-right: 0px;
}

ul.layer_panel > li > img.opacity {
	margin-right: 31px;
}

.layer_panel .add_layer , .addCatalog {
	color: #007eb6;
	font-size: 11px;
	margin: 0 0 0 2px;
	line-height: 23px;
}

.opacity_panel {
	height: 25px;
	background: #f1f1f1 url("../img/MED_back_opacity.png") repeat-x top left;
	border-top: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
	cursor: text;
	margin-left: -10px;
}

.opacity_panel .opacity_label {
	line-height: 25px;
	float: left;
	width: 90px;
	font-size: 11px;
	color: #333;
	margin-left: 47px;
}

.opacity_panel .slider {
	float: right;
	height: 5px;
	width: 95px;
	margin: 9px 15px 0 0;
	border: 1px solid #999;
	cursor: pointer;
}

.ui-slider .ui-slider-handle {
	height: 10px;
	width: 10px;
	background: none;
	background-color: #666;
}

.ui-slider-horizontal .ui-slider-handle {
/* 	top: -0.6em; */
}

.geo{
	height:100%;
	border-left: 1px solid #424e65;
	float:left;	
}
.geo > a {
	display:block;
	margin-top:15px;
	margin-left: 20px;
}
.geo > a > * {
	float:left;
}

.uni{
	background-color:#485166;
	border-right:1px solid #1f2c47;
	height:100%;
	float:left;
}
.uni > * {
	float:left;	
	margin-top:15px;
}
.uni > img {
	display:block;
	margin-left: 20px;
}
.uni > p {
	width: 118px;
	color: #becbdc;
	margin-right: 20px;
	margin-left: 15px;
	
}

.symbol-marker,.symbol-marker>*{
	border-radius:50%;
}

.catalogo{
	color: #013e88;
	margin-top: 40px;
}

#catalogo{
	margin: auto;
	width: 905px;
	background-color: #fff;
	height: 100%;
/* 	overflow-y: auto; */
}

#catalogo p {
	width: 200px;
	font-size: 13px;
	color: #666666;
}

.co_families {
	float: left;
	width: 640px;
	min-height: 100%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.families {
	padding-top: 25px;
}

ul.families > li {
	border-bottom: 1px solid #ccc;
	line-height: 35px;
}

ul.families ul.family_header > li.ico_open_close {
	margin: 15px 8px 0 10px;

}

ul.families ul.family_header > li {
	float: left;
	line-height: 35px;
	font-size: 11px;
	cursor:pointer;
}

ul.families ul.family_header > li.ico {
	margin-top: 8px;
}

ul.families ul.family_header > li.name {
	color: #0363aa;
	margin: 0 5px 0 5px;
}

ul.families ul.family_header > li.n_elements {
	color: #a9a9a9;
}

ul.families ul.family_content {
	margin: 0 10px;
	display: none;
}

ul.family_content > li > p {
	clear: both;
	margin: 0px 20px 20px 20px;
	line-height: 15px;
	width: auto !important;
}

ul.family_content > li > img {
	float: left;
	margin: 12px 5px 0 20px;
}

ul.family_content > li > span {
	color:#666666;
	font-weight: bold;
	font-size: 11px;
}

ul.family_content > li > a {
	float: right;
	color:#013e88;
	font-size: 11px;
	text-decoration: underline;;
	
}

ul.family_content > li > div {
	margin-top: -10px;
	margin-right: -1px;
}

.tiposCapas {
	color: #ff6600 !important;
	border: 1px solid #ff6600;
	font-weight: normal !important;
	padding: 4px 6px 4px 6px;
	border-radius: 1px;
	cursor: pointer;
	background-color: white;
}

img.tiposCapas{
	margin-top: 5px;
	padding-top: 5px;
}

.flotable_legend {
	z-index: 2;
	background-color: #f1f1f1;
	width: 300px;
	border: 1px solid #a3a3a3;
}

.co_overlay_panel, .flotable_legend {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	cursor: move;
}

.flotable_legend h4 {
	height: 26px;
	background-color: #fff;
}

.flotable_legend h4 :nth-child(1) {
	margin: 5px;
}
.flotable_legend h4 > * {
	float: left;
	font-size: 10px;
	color: #000000;
}

.flotable_legend h4 :nth-child(2) {
	margin: 6px 5px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url('ellipsis.xml#ellipsis');
	width: 245px;
}

.flotable_legend h4 > * {
	float: left;
	font-size: 10px;
	color: #000000;
}

.flotable_legend h4 > img.close {
	float: right;
	margin: 7px 6px 0 0;
	cursor: pointer;
}
.flotable_legend h4 > * {
	float: left;
	font-size: 10px;
	color: #000000;
}

.flotable_legend .co_legend {
	overflow: auto;
	height: 250px;
	width: 100%;
	border-top: 1px solid #d1d1d1;
}

.serviceFancy h1{
	font-size: 18px;
	color: #013e88;
	float:left;
	margin-left: 10px;
}

.serviceFancy h2{
	font-size: 13px;
	float:right;
	color: #013e88;
	text-decoration: underline;
	margin-right: 10px;
	cursor:pointer;
}

.serviceFancy select{
	margin-top: 18px;
	background-color: white;
	border: 1px solid #001232;
	width: 150px;
	height: 35px;
	-webkit-appearance: none;
	padding-left: 10px;
	color: #013e88;
	background: url(../img/ERO_icon_flecha_select.png) no-repeat 125px;
	float:left;
	margin-left: 10px;
	border-radius: 0;
	font-size: 14px;
}

.serviceFancy input[type='text']{
	height: 35px;
	width: 480px;
	border: 1px solid #001232;
	background: url(../img/ERO_icon_link_gris.png) no-repeat 450px #ecedef;
	color:#666666;
	font-size: 14px;
	margin-top: 18px;
	margin-left: 10px;
	padding-right: 40px;
	padding-left: 10px;
}

.serviceFancy input[type='button']{
	margin-left: 10px;
	margin-top: 10px;
	width: 640px;
	height: 35px;
	background-color: #013e88;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.cargadoServicio{
	background-image: url(../img/MED_spinner.gif);
	background-repeat: no-repeat;
	background-position: 245 5;
}

.fancybox-skin {
    border-radius: 0;
}

.input_fancy{
	margin-left: 170px !important;
	margin-top: 10px !important;
	background: #ecedef !important;	
}

.info_fancy_service{
	color: #999999;
	font-size: 11px;
	text-align: center;
	border-top: 1px solid #cccccc;
	margin: 10px;
	padding-top: 25px;
}

.tabla_fancy_service{
	margin-top: -14px;
	display: block;
	overflow: auto;
	max-height: 500px;
	display: none;
	margin-top: 10px;
}

#tool_bar {
	position: absolute;
	top: 73px;
	background-color: #ccc;
	height: 29px;
	width: 127px;
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	left: 48.1%;;
	margin-left: -36px;
	z-index: 2;
}

#tool_bar > * {
	width: 29px;
	height: 23px;
	float: left;
	cursor: pointer;
	margin-top: 2px;
	margin-left: 2px;
}

#tool_bar #ctrl_marker_drawer {
	background: url("../img/ERO_herramienta_punto_off.png");
}

#tool_bar #ctrl_line_drawer {
	background: url("../img/ERO_herramienta_linea_off.png");
}

#tool_bar #ctrl_rectangle_drawer {
	background: url("../img/ERO_herramienta_poligono_off.png");
}

#tool_bar #ctrl_feature_info {
	background: url("../img/ERO_herramienta_info_off.png");
}

#tool_bar #ctrl_feature_info.enable {
	background: url("../img/ERO_herramienta_info_on.png");
}

#tool_bar #ctrl_marker_drawer.enable {
	background: url("../img/ERO_herramienta_punto_on.png");
}

#tool_bar #ctrl_line_drawer.enable {
	background: url("../img/ERO_herramienta_linea_on.png");
}

#tool_bar #ctrl_rectangle_drawer.enable {
	background: url("../img/ERO_herramienta_poligono_on.png");
}

.cursor_info{
	cursor: context-menu;
}

#container_feature_info{
	width: 800px;
	height: 400px;
	overflow:auto;
}

.loginDiv{
	width: 220px;
	height: 190px;
	background-color: #f3f4f5;
	border-radius: 5px;
	position: absolute;
	z-index: 1001;
	right: 0;
	margin-right: 25px;
	margin-top: 10;
	display: none;
}

.loginDiv h1{
	color: #899499;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 14px;
	margin-bottom: 20px;
}

.loginDiv input[type="text"], input[type="password"]{
	width: 200px;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 10px;
	border: 1px solid #c4c9cc;
	padding-left: 5px;
	color: #c4c9cc;
	font-size: 12px;
	border-radius: 3px;
}

.loginDiv input[type="button"]{
	width: 200px;
	height: 30px;
	background-color: #034da0;
	color: white;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #2d384f;
	margin-left: 10px;
	cursor:pointer;
}

.loginDiv p{
	margin-top: 8px;
	text-align: center;
	color: red;
	display: none;	
}

.errorBorder{
	border: 1px solid red !important;
}

.acceder{
	cursor: pointer;
	float: left;
	width: 75px;
	color: #becbdc;
	text-align: center;
	margin-right: 10px;
	background-image: url("../img/MED_separador_cab1.png");
	background-repeat: repeat-y;
	height: 54px;
	padding-top: 18;
	padding-left: 8px;
}

.acceder:HOVER{
	color: white;
}

#closeSesion{
	margin-top: 0px;
	cursor: pointer;
	display: none;
	background-image: url("../img/MED_separador_cab1.png");
	background-repeat: repeat-y;
	height: 42px;
	padding-top: 30px;
	padding-left: 10px;
	margin-right: 10px;
}

#closeSesion:HOVER{
	color: white;
}

.leaflet-draw{
	display: none;
}

#fancy_box_save_draw{
	width: 0px;
	height: 24px;
	position: absolute;
	background: #cccccc;
	font-size: 10px;
	border: 1px solid #333333;
	display: none;
}

#fancy_box_save_draw .fancySave{
	color: #0363aa;
	font-weight: bold;
	padding-top: 6px;
	margin-left: 5px;
	border-right: 1px solid black;
	height: 19px;
	margin-right: 5px;
	padding-right: 5px;
	cursor: pointer;
	display: none;
}

#fancy_box_save_draw .fancyCancel{
	margin-top: 6px;
	cursor: pointer;
	display: none;
}

.ellipsis{
	text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;  
}