@CHARSET "UTF-8";
html {
	height:100%;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;	
/* 	background-color:#ccc; */
	color:#333;
	overflow: hidden;
}

.grey {color:#becbdc }
.grey2 { color:#949ead}

a{
	color:#333;
	text-decoration:none;
}
.panel{
	height:100%;
	float:left;	
}

.sep{
	width: 2px;
	background-color: #CCC;
	position: absolute;
	top: 74px;	
	z-index: 2;
	/*height: 452px;*/
}

#panel_left, #panel_right{
	height:100%;
	position:relative;
}
#map_left, #map_right{
	height:100%;
	background-color: black;
}


header{
	height:72px;
	background-color:#2d384f;
	border-bottom:1px solid #cccccc;	
	margin-bottom:2px;
}

header nav a{
	float: left;
	background: url("../img/MED_separador_cab2.png") no-repeat top right;
	line-height: 72px;
	height: 72px;
	color: #becbdc;
	font-size: 11px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 12px;
	text-shadow: #013e88 0px -1px 0px;
}

header nav a:HOVER{
	color: white;
}

header .left{
	background:#222d46 url("../img/MED_separador_cab1.png") repeat-y right top;
	float:left;
	width:450px;
	height:72px;
	
}
.fleft{	float:left;}
.fright{ float:right;}
header #logo{
	margin-top: 10px;
	margin-left: 22px;	
}

header #search{
	background: white url("../img/MED_icon_buscar.png") no-repeat 353 6;
	padding-right: 22px;
	color: #013e88;
	font-size: 14px;
	margin-left: 30px;
	margin-top: 19px;
	border: 1px solid #000;
	width: 380px;
	padding-left: 10px;
	height: 33px;
	
}

footer{
	height:90px;
	background-color:#333d55;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

footer p.fund{
	color: #949ead;
	font-size:10px;
	margin-top:20px;
	margin-right:10px;
	text-align:right
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.split_ctrl{
	
	
	
}
img.toggle{
	position:absolute;
	top:70px;
	z-index:4;
	cursor:pointer;
}

img.sync{
	position:absolute;
	top:125px;
	z-index:4;	
	cursor:pointer;
}

#panel_left .split_ctrl img.toggle{
	right:1px;	
}
#panel_left .split_ctrl img.sync{
	right:0px;	
}
#panel_right .split_ctrl img.sync{
	left:0px;	
}
#panel_right .split_ctrl img.toggle{
	left:1px;	
}


p.credits{
	margin-top:15px;
	margin-right:20px;
	text-align:right;
	color:#becbdc;
	text-shadow: #013e88 0px -1px 0px;
}


@media (max-width: 760px) {
  p.credits {
    display: none;
  }
}

.layer_ctrl{
	background:url("../img/MED_icon_capas.png") no-repeat left 9px #f0f0f0;
	position:absolute;
	bottom: 0px;
/* 	right:0px; */
	z-index:4;
	height: 24px;
	line-height:24px;
	padding-left: 10px;
	padding-right: 25px;
	color:#333333 !important;
	font-weight:bold;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
/* 	-webkit-border-radius: 5px; */
/* 	border-radius: 5px; */
/* 	border-top-left-radius: 5px; */
	text-shadow: #fff 0px -1px 0px;
	z-index:1002;
	background-position: 55px;
	margin-left: 1px;
	margin-right: 1px;	
	
}
.layer_ctrl.open{
	background-image: url("../img/MED_icon_cerrar_capas.png");	
}

.layer_panel{
	position: absolute;	
	background-color: white;
	bottom: -44;
	width: 351px;	
	z-index:1001;
	padding-top:70px;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-radius: 4px 0px 0px 0px;
	max-height: 60%;
	overflow: auto;
}

.layer_panel.close{
	background: url("../img/MED_fondo_capas.png") repeat-x left top;
	height: 60px;
	overflow: hidden;	
	z-index:1;
	padding-bottom:0;
	padding-top:0;
	width: 100%;	
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid #ccc;
	
	transition: display .5s ease;
  -webkit-transition: display .5s ease;
  -moz-transition: display .5s ease;
  -o-transition: display .5s ease;
	
}
ul.layer_panel li{
	height:25px;
	clear:both;
	border-bottom: 1px solid #E5E5E5;
	color:#cccccc;
	padding-left:10px;
/* 	padding-right:25px;	 */
/* 	line-height: 35px; */
	position: relative;
	bottom: 70px;
	background: url("../img/border_img.gif") repeat-y 8px white;
	cursor:move;
}

ul.layer_panel li:FIRST-CHILD{
/* 	padding-left: 43px; */
	color:black;
	border-radius: 2px;
}

/* ul.layer_panel li span{ */
/* 	float:left;	 */
/* } */

ul.layer_panel li input[type="checkbox"]{
	margin-top: 7px;
	margin-left: 0px;
	margin-right: 20px;
	float: left;
}

ul.layer_panel li a{
	float: left;
	margin-right: 8px;
/* 	margin-top: 5px; */
}

ul.layer_panel > li > img, ul.layer_panel  > ul > li > img {
	float: right;
	padding: 5px 15px 5px 10px;
	cursor: pointer;
}

ul.layer_panel > li > img.remove, ul.layer_panel > ul > li > img.remove {
	display: none;
	padding-left: 0px;
}


ul.layer_panel > li > img.legend, ul.layer_panel > ul > li > img.legend {
	padding: 5px 0px;
}

ul.layer_panel > li > span, ul.layer_panel > ul > li > span {
	margin-right: 30px;
/* 	margin-left: 25px; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url('ellipsis.xml#ellipsis');
/* 	border-left: 1px solid #ccc; */
	color: #000;
/* 	font-size: 10px; */
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
}


ul.layer_panel > li:hover > img.remove, ul.layer_panel > ul > li:hover > img.remove {
	display: inline;
}

ul.layer_panel > li:hover > img.opacity, ul.layer_panel > ul > li:hover > img.opacity {
	margin-right: 0px;
}

ul.layer_panel > li > img.opacity, ul.layer_panel > ul > li > img.opacity {
	margin-right: 31px;
}

.layer_panel .add_layer , .addCatalog {
	color: #007eb6;
	font-size: 11px;
	margin: 0 0 0 2px;
	line-height: 23px;
}

.opacity_panel {
	height: 25px;
	background: #f1f1f1 url("../img/MED_back_opacity.png") repeat-x top left;
	border-top: 1px solid #a3a3a3;
	border-bottom: 1px solid #a3a3a3;
	cursor: text;
	margin-left: -10px;
}

.opacity_panel .opacity_label {
	line-height: 25px;
	float: left;
	width: 90px;
	font-size: 11px;
	color: #333;
	margin-left: 47px;
}

.opacity_panel .slider {
	float: right;
	height: 5px;
	width: 95px;
	margin: 9px 15px 0 0;
	border: 1px solid #999;
	cursor: pointer;
}

.ui-slider .ui-slider-handle {
	height: 10px;
	width: 10px;
	background: none;
	background-color: #666;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.ui-slider .ui-slider-handle {
		height: 55px;
		width: 18px;
		background: none;
		background-color: #666;
	}
}

.ui-slider-horizontal .ui-slider-handle {
/* 	top: -0.6em; */
}

.geo{
	height:100%;
	border-left: 1px solid #424e65;
	float:left;
	width: 215px;	
}
.geo > a {
	display:block;
	margin-top:15px;
	margin-left: 20px;
}
.geo > a > * {
	float:left;
}

.geo .logoGis{
	width: 100px !important;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	width: 215px;
}

.logoGisText{
	color: #949ead;
	font-size: 10px;
	font-style: italic;
	margin-top: 22px;
}

.uni{
	background-color:#485166;
	border-right:1px solid #1f2c47;
	height:100%;
	float:left;
}
.uni > * {
	float:left;	
	margin-top:15px;
}
.uni > img {
	display:block;
	margin-left: 20px;
}
.uni > p {
	width: 118px;
	color: #becbdc;
	margin-right: 20px;
	margin-left: 15px;
	
}

.symbol-marker,.symbol-marker>*{
	border-radius:50%;
}

.catalogo{
	color: #013e88;
	margin-top: 40px;
	min-width: 300px;
	z-index: 1003;
}

#catalogo{
	margin: auto;
	width: 905px;
	background-color: #fff;
	height: 100%;
	overflow-y: auto;
}
/* ////////////////////////////////////////////////////////////////////////////////// */
/* #catalogo p { */
/* 	width: 200px; */
/* 	font-size: 13px; */
/* 	color: #666666; */
/* } */

/* .co_families { */
/* 	float: left; */
/* 	width: 640px; */
/* 	min-height: 100%; */
/* 	border-left: 1px solid #ccc; */
/* 	border-right: 1px solid #ccc; */
/* } */

/* .families { */
/* 	padding-top: 25px; */
/* } */

/* ul.families > li { */
/* 	border-bottom: 1px solid #ccc; */
/* 	line-height: 35px; */
/* } */

/* ul.families ul.family_header > li.ico_open_close { */
/* 	margin: 15px 8px 0 10px; */

/* } */

/* ul.families ul.family_header > li { */
/* 	float: left; */
/* 	line-height: 35px; */
/* 	font-size: 11px; */
/* 	cursor:pointer; */
/* } */

/* ul.families ul.family_header > li.ico { */
/* 	margin-top: 8px; */
/* } */

/* ul.families ul.family_header > li.name { */
/* 	color: #0363aa; */
/* 	margin: 0 5px 0 5px; */
/* } */

/* ul.families ul.family_header > li.n_elements { */
/* 	color: #a9a9a9; */
/* } */

/* ul.families ul.family_content { */
/* 	margin: 0 10px; */
/* 	display: none; */
/* } */

/* ul.family_content > li > p { */
/* 	clear: both; */
/* 	margin: 0px 20px 20px 20px; */
/* 	line-height: 15px; */
/* 	width: auto !important; */
/* } */

/* ul.family_content > li > img { */
/* 	float: left; */
/* 	margin: 12px 5px 0 20px; */
/* } */

/* ul.family_content > li > span { */
/* 	color:#666666; */
/* 	font-weight: bold; */
/* 	font-size: 11px; */
/* } */

/* ul.family_content > li > a { */
/* 	float: right; */
/* 	color:#013e88; */
/* 	font-size: 11px; */
/* 	text-decoration: underline;; */
	
/* } */

/* ul.family_content > li > div { */
/* 	margin-top: -10px; */
/* 	margin-right: -1px; */
/* } */
/* ////////////////////////////////////////////////////////////////////////////////// */

.catalogo{
	width: 30%;
	left: -30.1%;
	min-width: 310px;
	background-color: #cccccc;
	position: absolute;
	bottom: 162px;
	top: 102px;
	border: 1px solid #b9b9b9;
	border-left: none;
	border-radius: 0px 2px 2px 0px;
	
}

@media (max-width: 1030px) {
	.catalogo{
		left: -311px;
	}
}

.catalogo .cuerpoCatalogo{
	background-color: white;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 0px;
	right: 2px;
	border: 1px solid #b9b9b9;
	border-left: none;
	border-radius: 0px 2px 2px 0px;
	display: none;
}

.catalogo .cuerpoCatalogo .cabecera{
	background-color: #e5eff6;
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #013e88;
}

.catalogo .cuerpoCatalogo .cabecera .seccion{
	float:left;
	font-size: 14px;
	font-weight: bold;
	color: #013e88;
	border-left: 1px solid #b9b9b9;
	padding: 9px;
	height: 17px;
	cursor: pointer;
}

.catalogo .cuerpoCatalogo .cabecera .active{
	background-color: white;
}

.catalogo .cuerpoCatalogo .cabecera .seccion:FIRST-CHILD{
	border-left: none;
}

.catalogo .cuerpoCatalogo .contenidoCatalogo{
/* 	overflow: auto; */
	position: absolute;
	left: 0;
	right: 0;
	top: 35px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	
}

.catalogo .petaniaCatalogo{
	width: 35px;
	height: 35px;
	background-color: #cccccc;
	position: absolute;
	right: 0;
	margin-right: -35px;
	top: 40px;
	border-radius: 2px;
	border-radius: 0px 2px 2px 0px;
	cursor: pointer;
}
.catalogo .petaniaCatalogo img{ 	
	padding: 8px;
}

.family_header{
	border-bottom: 1px solid #013e88;
	border-top: 1px solid #013e88;
	cursor: pointer;
	float: left;
	width: 100%;
	margin-bottom: -1px;
	height: 41px;
}

.family_header li{
	float: left;
	margin-top: 15px;
	padding-bottom: 11px;
}

.family_header .name{
	margin-right: 5px;
	max-width: 80%;
	
	
}

@media (max-width: 900px) {
	.family_header .name{
		max-width: 70%;
	}
}

.family_header .ico_open_close{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.family_content{
/* 	display: none; */
}

.family_content li{
/* 	padding-left: 20px; */
	height: 35px;
	cursor: pointer;
}

.family_content li:HOVER{
	background-color: #f1f2f3;	
}

.family_header li:HOVER{
	background-color: initial;
}

.family_content li p{
	font-size: 11px;
	margin-right: 10px;
	float: left;
	margin-top: 12px;
}

#capasCatalogo .family_content li p{
	max-width: 80%;
}

@media (max-width: 1023px) {
	#capasCatalogo .family_content li p{
		max-width: 75%;
	}
}

#publicProyectCatalogo  .family_content li p{
	max-width: 65%;
}

@media (max-width: 1600px) {
	#publicProyectCatalogo  .family_content li p{
		max-width: 55%;
	}
}

@media (max-width: 1250px) {
	#publicProyectCatalogo  .family_content li p{
		max-width: 42%;
	}
}

#myProyectCatalogo  .family_content li p{
	max-width: 65%;
}

@media (max-width: 1600px) {
	#myProyectCatalogo  .family_content li p{
		max-width: 55%;
	}
}

@media (max-width: 1250px) {
	#myProyectCatalogo  .family_content li p{
		max-width: 42%;
	}
}

#usuariosCatalogo  .family_content li p{
	max-width: 65%;
}

@media (max-width: 1600px) {
	#usuariosCatalogo  .family_content li p{
		max-width: 50%;
	}
}

@media (max-width: 1250px) {
	#usuariosCatalogo  .family_content li p{
		max-width: 39%;
	}
}



.family_content li .botonAddImage{
	border: 1px solid #ff6600;
	padding: 4px 7px 5px 7px;
	border-radius: 2px;
	margin-top: 5px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	margin-left: -1px;
	background-color: white;
}

.family_content li p:BEFORE{
	content: url("../img/ERO_icon_elemento-final.png");	
	margin-right: 10px;
	margin-left: 20px;
}

.family_content li p.default:BEFORE{
	float: left;
	position: relative;
	top: -2px;
	left: -7px;
	margin-right: -5px;
	content: url("../img/ERO_icon_proyecto_def_on.png");	
}


.infoCatalogo{
	width:30%;
	min-width: 15%;
	max-width: 40%;
	right: -30%;
	background-color: #cccccc;
	position: absolute;
	bottom: 162px;
	top: 142px;
	border: 1px solid #b9b9b9;
	border-right: none;
	border-radius: 2px 0px 0px 2px;
	z-index: 1002;
	cursor: col-resize;
}
.infoCatalogo .cuerpoInfoCatalogo{
	background-color: white;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 0px;
	border: 1px solid #b9b9b9;
	border-left: none;
	border-radius: 2px 0px 0px 2px;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	cursor: initial;

/*	resize: horizontal;
	overflow: auto;
	-webkit-transform: rotate(-180deg);*/
}

.infoCatalogo .cuerpoInfoCatalogo .title1{
	font-size: 14px;
	color: #013e88;
	line-height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #dcdcdc; 
	display: flex;
	margin-top: 10px;
	padding-bottom: 5px;
}

.infoCatalogo .cuerpoInfoCatalogo .title1:BEFORE{
	content: url("../img/ERO_icon_elemento-final.png");
	margin-right: 10px;
	margin-top: 5px;
}

.infoCatalogo .cuerpoInfoCatalogo .title2{
	color: #666666;
	font-size: 11px;
	margin: 10px 10px 35px 10px;
	display: flex;
}

.infoCatalogo .cuerpoInfoCatalogo .title3{
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	line-height: 25px;
	margin-left: 10px;
}

.infoCatalogo .cuerpoInfoCatalogo .botonAddImageLeyenda{
	border: 1px solid #ff6600;
	padding: 4px 7px 5px 7px;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 10px;
	background-color: white;
	float: left;
}

.infoCatalogo .cuerpoInfoCatalogo .separador{
	background-color: #dcdcdc;
	height: 1px;
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
}

.infoCatalogo .cuerpoInfoCatalogo .divLeyenda{
	width: 242px;
	height: 260px;
	border: 1px solid #dcdcdc;
	/*margin: auto;*/
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: 10px;
}

.infoCatalogo .cuerpoInfoCatalogo .diagonal1{
	width: 355px;
	border-bottom: 1px solid #dcdcdc;
	-webkit-transform: translateY(4px) translateX(-57px) rotate(47deg);
	position: relative;
	top: 125px;
	
}

.infoCatalogo .cuerpoInfoCatalogo .diagonal2{
	width: 355px;
	border-bottom: 1px dotted #dcdcdc;
	-webkit-transform: translateY(4px) translateX(-57px) rotate(-47deg);
	position: relative;
	top: 125px;
	
}

.infoCatalogo .petaniaInfoCatalogo{
	width: 35px;
	height: 35px;
	background-color: #cccccc;
	position: absolute;
	margin-left: -35px;
	top: 40px;
	border-radius: 2px 0px 0px 2px;
	cursor: pointer;
	display: none;
}
.infoCatalogo .petaniaInfoCatalogo img{ 	
	padding: 9px;
}

.listaTipos{
	display: none;
}

.tiposCapas:HOVER{
	background-color: #ff6600;
	color: white !important;
}

.tiposCapas.plus:HOVER:AFTER{
	content: url("../img/ERO_icon_anadir_capa_h.png");	
}

.tiposCapas {
	color: #ff6600 !important;
	border: 1px solid #ff6600;
	font-weight: normal !important;
	padding: 4px 6px 4px 6px;
	border-radius: 1px;
	cursor: pointer;
	background-color: white;
	margin-left: -1px;
}

.tiposCapas.plus:AFTER{
	content: url("../img/ERO_icon_anadir_capa.png");
	position: relative;
	top: 2px;
	margin-left: 10px;
}

img.tiposCapas{
	margin-top: 5px;
	padding-top: 5px;
}

.flotable_legend {
	z-index: 2;
	background-color: #f1f1f1;
	width: 300px;
	border: 1px solid #a3a3a3;
}

.co_overlay_panel, .flotable_legend {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	cursor: move;
}

.flotable_legend h4 {
	height: 26px;
	background-color: #fff;
}

.flotable_legend h4 :nth-child(1) {
	margin: 5px;
}
.flotable_legend h4 > * {
	float: left;
	font-size: 10px;
	color: #000000;
}

.flotable_legend h4 :nth-child(2) {
	margin: 6px 5px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url('ellipsis.xml#ellipsis');
	width: 245px;
}

.flotable_legend h4 > * {
	float: left;
	font-size: 10px;
	color: #000000;
}

.flotable_legend h4 > img.close {
	float: right;
	margin: 7px 6px 0 0;
	cursor: pointer;
}
.flotable_legend h4 > * {
	float: left;
	font-size: 10px;
	color: #000000;
}

.flotable_legend .co_legend {
	overflow: auto;
	height: 250px;
	width: 100%;
	border-top: 1px solid #d1d1d1;
}

.serviceFancy h1{
	font-size: 18px;
	color: #013e88;
	float:left;
	margin-left: 10px;
}

.serviceFancy h2{
	font-size: 13px;
	float:right;
	color: #013e88;
	text-decoration: underline;
	margin-right: 10px;
	cursor:pointer;
}

.serviceFancy select{
	margin-top: 18px;
	background-color: white;
	border: 1px solid #001232;
	width: 150px;
	height: 35px;
	-webkit-appearance: none;
	padding-left: 10px;
	color: #013e88;
	background: url(../img/ERO_icon_flecha_select.png) no-repeat 125px;
	float:left;
	margin-left: 10px;
	border-radius: 0;
	font-size: 14px;
}

.serviceFancy input[type='text']{
	height: 35px;
	width: 480px;
	border: 1px solid #001232;
	background: url(../img/ERO_icon_link_gris.png) no-repeat 450px #ecedef;
	color:#666666;
	font-size: 14px;
	margin-top: 18px;
	margin-left: 10px;
	padding-right: 40px;
	padding-left: 10px;
}

.serviceFancy input[type='button']{
	margin-left: 10px;
	margin-top: 10px;
	width: 640px;
	height: 35px;
	background-color: #013e88;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.cargadoServicio{
	background-image: url(../img/MED_spinner.gif);
	background-repeat: no-repeat;
	background-position: 245 5;
}

.fancybox-skin {
    border-radius: 0;
}

.input_fancy{
	margin-left: 170px !important;
	margin-top: 10px !important;
	background: #ecedef !important;	
}

.info_fancy_service{
	color: #999999;
	font-size: 11px;
	text-align: center;
	border-top: 1px solid #cccccc;
	margin: 10px;
	padding-top: 25px;
}

.tabla_fancy_service{
	margin-top: -14px;
	display: block;
	overflow: auto;
	max-height: 500px;
	display: none;
	margin-top: 10px;
}

#fancy_vector_info{
	width: 660px;
/* 	height: 215px; */
	display: none;
}

.vectorFancy h1{
	margin-top: 40px;
	font-size: 14px;
	font-weight: bold;
}

.vectorFancy .imageType{
	float: left;
	margin-top: 41px;
	margin-left: 10px;
}

.comentTable p{
	/*margin-top: 30px;*/
	margin: 10px;
	line-height: 18px;
	/*margin-left: 40px;
	margin-right: 10px;*/
	color: #666666;
}

.vectorFancy .spanMini{
	font-size: 9px;
	font-weight: 500;
	color: #333333;
	background-image: url("../img/MED_icon_layer.png");
	background-repeat: no-repeat;
	padding-left: 23px;
	float: left;
}

.comentTable span{
	font-size: 11px;
	color: #666666;
	font-weight: bold;
}

/* .vectorFancy a{ */
/* 	float: right; */
/* 	font-size: 13px; */
/* 	margin-right: 45px; */
/* 	color: #013e88; */
/* 	text-decoration: underline; */
/* } */

.comentTable{
/* 	height: 270px; */
	border-top: 1px solid #cccccc;
	background-color: #ecedef;
	/*margin-top: 30px;*/
	/*max-height: 291px;*/
	overflow: auto;
	margin: 10px;
}

./*comentTable p{
	padding-bottom: 30px;
}*/

.userComentTable{
	border-right: 1px solid #939393;
	padding-right: 10px;
}

.vectorFancy .input_fancy_vector{
	width: 620px !important;
	margin-left: 20px !important;
	margin-top: 20px  !important;
}

.vectorFancy label{
	font-size: 14px;
	color: #013e88;
	font-weight: normal;
	display: block;
	margin-top: 27px;
	float: left;
	margin-right: 5px;
}

.vectorFancy input[type='checkbox']{
	margin-top: 30px;
	margin-left: 20px;
	float: left;
	margin-right: 5px;
}

.vectorFancy input[type='button']{
	width: 140px !important;
	margin-top: 18px;
	float: right;
	margin-right: 20px; 
}

.vectorFancy .addComent{
	height: 130px;
	background-color: white;
}

.vectorFancySelect{
	display: none;	
}

#tool_bar {
	position: absolute;
	top: 73px;
	background-color: #ccc;
	height: 33px;
	width: 200px;
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	left: 50%;;
	margin-left: -95px;
	z-index: 2;
}

#tool_bar > * {
	width: 29px;
	height: 30px;
	float: left;
	cursor: pointer;
	margin-top: 2px;
	margin-left: 2px;
}

#tool_bar #ctrl_marker_drawer {
	background: url("../img/ERO_herramienta_punto_off.png");
}

#tool_bar #ctrl_line_drawer {
	background: url("../img/ERO_herramienta_linea_off.png");
}

#tool_bar #ctrl_rectangle_drawer {
	background: url("../img/ERO_herramienta_poligono_off.png");
}

#tool_bar #ctrl_feature_info {
	background: url("../img/ERO_herramienta_info_off.png");
}

#tool_bar #ctrl_add_project {
	background: url("../img/ERO_herramienta_proyecto_off.png");
	border-right: 1px solid b9b9b9;
	padding-right: 10px;
}

#tool_bar #ctrl_add_project:HOVER{
	background: url("../img/ERO_herramienta_proyecto_hover.png");
}

#tool_bar #ctrl_add_project .enable{
	background: url("../img/ERO_herramienta_proyecto_hover.png");
}

#tool_bar #ctrl_add_project.enable {
	background: url("../img/ERO_herramienta_proyecto_hover.png");
}

#tool_bar #ctrl_location {
	background: url("../img/ERO_herramienta_gps_off.png");
}

#tool_bar #ctrl_feature_info.enable {
	background: url("../img/ERO_herramienta_info_on.png");
}

#tool_bar #ctrl_feature_info:HOVER {
	background: url("../img/ERO_herramienta_info_on.png");
}

#tool_bar #ctrl_marker_drawer.enable {
	background: url("../img/ERO_herramienta_punto_on.png");
}

#tool_bar #ctrl_marker_drawer:HOVER {
	background: url("../img/ERO_herramienta_punto_on.png");
}

#tool_bar #ctrl_line_drawer.enable {
	background: url("../img/ERO_herramienta_linea_on.png");
}

#tool_bar #ctrl_line_drawer:HOVER {
	background: url("../img/ERO_herramienta_linea_on.png");
}

#tool_bar #ctrl_rectangle_drawer.enable {
	background: url("../img/ERO_herramienta_poligono_on.png");
}

#tool_bar #ctrl_rectangle_drawer:HOVER {
	background: url("../img/ERO_herramienta_poligono_on.png");
}

#tool_bar #ctrl_location.enable {
	background: url("../img/ERO_herramienta_gps_on.png");
}

.cursor_info{
	cursor: context-menu;
}

#container_feature_info{
	overflow:auto;
}

.loginDiv{
	width: 220px;
	height: 190px;
	background-color: #f3f4f5;
	border-radius: 5px;
	position: absolute;
	z-index: 1001;
	right: 0;
	margin-right: 25px;
	margin-top: 10;
	display: none;
}

.loginDiv h1{
	float: left;
	color: #899499;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 14px;
	margin-bottom: 20px;
}

.closeLogin{
	float: right;
	margin: 10px;
	cursor: pointer;
}

.loginDiv input[type="text"], input[type="password"]{
	width: 200px;
	height: 25px;
	margin-bottom: 10px;
	margin-left: 10px;
	border: 1px solid #c4c9cc;
	padding-left: 5px;
/* 	color: #c4c9cc; */
	font-size: 12px;
	border-radius: 3px;
}

.loginDiv input[type="button"]{
	width: 200px;
	height: 30px;
	background-color: #034da0;
	color: white;
	font-size: 13px;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #2d384f;
	margin-left: 10px;
	cursor:pointer;
}

.loginDiv p{
	margin-top: 8px;
	text-align: center;
	color: red;
	display: none;	
}

.errorBorder{
	border: 1px solid red !important;
}

.acceder{
	cursor: pointer;
	float: left;
	width: 75px;
	color: #becbdc;
	text-align: center;
	margin-right: 10px;
	background-image: url("../img/MED_separador_cab1.png");
	background-repeat: repeat-y;
	height: 54px;
	padding-top: 18;
	padding-left: 8px;
}

.acceder:HOVER{
	color: white;
}

#closeSesion{
	margin-top: 0px;
	cursor: pointer;
	display: none;
	background-image: url("../img/MED_separador_cab1.png");
	background-repeat: repeat-y;
	height: 42px;
	padding-top: 30px;
	padding-left: 10px;
	margin-right: 10px;
}

#closeSesion:HOVER{
	color: white;
}

.leaflet-draw{
	display: none;
}

.miniFancy{
	width: 0px;
	height: 24px;
	position: absolute;
	background: #cccccc;
	font-size: 10px;
	border: 1px solid #333333;
	display: none;
}

.miniFancy .fancySave, .fancyKml, .fancyOk{
	color: #0363aa;
	font-weight: bold;
	padding-top: 6px;
	margin-left: 5px;
	border-right: 1px solid black;
	height: 19px;
	padding-right: 5px;
	cursor: pointer;
	display: none;
}

.miniFancy .fancyCancel{
	padding-top: 6px;
	cursor: pointer;
	float: left;
	border-right: 1px solid black;
	height: 19px;
	padding-right: 5px;
	margin-right: 5px;
	margin-left: 5px;
	display: none;
}

.miniFancy img, #fancy_box_dont_save_draw img{
	margin-top: 4px;
	display: none;
	cursor: pointer;
}

#fancy_box_dont_save_draw img{
	margin-left: 5px;
}


.divSelectPanel{
	width: 140px;
	height: 75px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #cccccc;
}

#actividad .tablaActividad{
	width: 660px;
	margin: auto;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	height: 100%;
	overflow: auto;
}

#actividad h1{
	padding-top: 40px;
	margin-left: 20px;
	font-size: 18px;
	color: #013e88;
}

#actividad .fila{
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	font-size:11px;
	line-height: 18px; 
}

#actividad .fila img{
	display: block;
	float: left;
	margin-right: 10px;
}

#actividad .fila span{
	color: #666666;
}

#fancy_select_panel{
	display:none;
	position:absolute;
	-moz-box-shadow: 1px 1px 1px #cccccc;
	-webkit-box-shadow: 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px #cccccc;
	border-radius: 6px;
	z-index: 1003;
}

#fancy_select_panel p{
	text-align: right;
	font-size: 10px;
	color: #333333;
	line-height: 24px;
	float:left;
}

#fancy_select_panel img{
	margin: 6px 8px 0px 5px;
}

#fancy_select_panel .divSelectPanel .panelSelect{
	cursor:pointer;
	border-top: 1px solid #cccccc;
}

#fancy_select_panel .divSelectPanel div:FIRST-CHILD{
	border-top: none;
}

#project_fancy{
/* 	width: 660px; */
/* 	height: 215px; */
	background-color: white;
	display: none;
}

.drawNotification{
	color:#013e88 !important; 
	cursor: pointer;
	font-weight: bold;
}

.ellipsis{
	text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;  
}


.leaflet-popup-pane{
	position: absolute;
}

.leaflet-bottom{
	top: 30%;
} 

.leaflet-top.leaflet-left{
	z-index: 1003;
}

.streetButtonLeft{
	position: absolute;
	top: 13;
	left: 53px;
	z-index: 1;
	cursor: pointer;
}

.streetButtonLeft.active {
	content: url("../img/POR_button_360_ON.png");
}

.streetButtonLeft:HOVER {
	content: url("../img/POR_button_360_ON.png");
}

.streetButtonRight{
	position: absolute;
	top: 13;
	right: 53px;
	z-index: 1;
	cursor: pointer;
}

.streetButtonRight.active {
	content: url("../img/POR_button_360_ON.png");
}

.streetButtonRight:HOVER {
	content: url("../img/POR_button_360_ON.png");
}

.closeStreetLeft{
	position: absolute;
	top: 5px;
	right: 100px;
	cursor: pointer;
	display: none;
}

.closeStreetRight{
	position: absolute;
	top: 5px;
	left: 116px;
	cursor: pointer;
	display: none;	
}

#geometryVectorList p{
	color: #013e88;
	margin: 10px;
	cursor: pointer;
}

#commentsVector h1, #addHistoryForm h1{
	color: #013e88;
	margin: 10px;
	font-size: 13px;
	float: left;
}

#commentsVector h1{
	cursor: pointer;
}

#commentsVector h2{
	margin-left: 36px;
	margin-right: 10px;
	margin-bottom: 20px;
}

#commentsVector img{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.addCommentInput, .addCommentHistory{
	height: 100px;
	border: 1px solid #001232;
	color: #666666;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ecedef;
	/*margin: 10px 10px 10px 20px;*/
	width: 100%;
	padding-top:10px;
	padding-bottom:10px;
}

.genericButton{
	height: 35px;
	background-color: #013e88;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.addComentButton{
	margin-bottom: 10px;
	width: 140px !important;
	margin-top: 10px;
	float: right;
}

.addHistoryButton{
	margin: 10px;
	/*float: right;*/
	padding-left: 15px;
	padding-right: 15px;
}

.saveHistoryButton{
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

#addHistoryForm input[type='text']{
	float: left;
	/*width: 390px; */
	width: 70%;
	background: #ecedef;
	height: 35px;
	color: #666666;
	font-size: 14px;
	margin-top: 18px;
	/*margin-left: 10px;*/
	padding-right: 10px;
	padding-left: 10px;
	border: 1px solid #001232;
	margin-bottom: 10px;
	margin-right: 1%;
}

#addHistoryForm select{
	/*width: 220px; */
	width: 29%;
	margin-top: 18px;
	background-color: white;
	border: 1px solid #001232;
	height: 35px;
	-webkit-appearance: none;
	padding-left: 10px;
	color: #013e88;
	background: url(../img/ERO_icon_flecha_select.png) no-repeat 95%;
	float: left;
	/*margin-left: 10px;*/
	border-radius: 0;
	font-size: 14px;

}

.goBack{
	font-size: 13px;
	float: right;
	color: #013e88;
	text-decoration: underline;
	margin-right: 10px;
	cursor: pointer;
	margin-top: 10px;
}

.deleteComment{
	color: #013e88 !important;
	text-decoration: underline;
	margin-right: 10px;
	cursor: pointer;
	font-weight: normal !important;
	float: right;
}

.deleteGeometry, #kmlExport{
	color: #013e88;
	text-decoration: underline;
	margin-right: 10px;
	cursor: pointer;
	float: right;
}


#kmlAll{
	color: #013e88;
	text-decoration: underline;
	margin-right: 10px;
	cursor: pointer;
	padding-top: 4px;
}

.deleteGeometry{
	border-left: 1px solid;
	padding-left: 10px;
}

.deleteHistory{
	float: left;
	padding-top: 3px;
	margin-left: 10px;
	margin-right: 5px;
	cursor: pointer;
}

.deleteProyect{
	float: right;
	padding-top: 6px;
	margin-right: 10px;
	color: #013e88;
	text-decoration: underline;
	border-bottom: 1px solid #dcdcdc;
	line-height: 29px;
	cursor: pointer;
}

.defaultProject:after{
	position: relative;
	top: 4px;
	content: url("../img/ERO_icon_proyecto_def_off.png");	
}


.defaultProject.active:after{
	content: url("../img/ERO_icon_proyecto_def_on.png");		
}

.leaflet-map-pane svg{
	z-index: 100;
}


.prueba{
	position: fixed;
	top: 50%;
	background: none;
	border: none;
	left: 43%;
}