@CHARSET "UTF-8";
html {
	height:100%;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;	
	background-color:#ccc;
	color:#333;
}

.grey {color:#becbdc }
.grey2 { color:#949ead}

a{
	color:#333;
	text-decoration:none;
}
.panel{
	height:100%;
	float:left;	
}

.sep{
	width: 2px;
	background-color: #CCC;
	position: absolute;
	top: 74px;	
	z-index: 2;
	/*height: 452px;*/
}

#panel_left, #panel_right{
	height:100%;
	position:relative;
}
#map_left, #map_right{
	height:100%;
}


header{
	height:72px;
	background-color:#2d384f;
	border-bottom:1px solid #cccccc;	
	margin-bottom:2px;
}

header nav a{
	float: left;
	background: url("../img/MED_separador_cab2.png") no-repeat top right;
	line-height: 72px;
	height: 72px;
	color: #becbdc;
	font-size: 11px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 12px;
	text-shadow: #013e88 0px -1px 0px;
}

header .left{
	background:#222d46 url("../img/MED_separador_cab1.png") repeat-y right top;
	float:left;
	width:560px;
	height:72px;
	
}
.fleft{	float:left;}
.fright{ float:right;}
header #logo{
	margin-top: 10px;
	margin-left: 22px;	
}

header #search{
	background: white url("../img/MED_icon_buscar.png") no-repeat 353 6;
	padding-right: 22px;
	color: #013e88;
	font-size: 14px;
	margin-left: 30px;
	margin-top: 19px;
	border: 1px solid #000;
	width: 380px;
	padding-left: 10px;
	height: 33px;
	
}

footer{
	height:90px;
	background-color:#333d55;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

footer p.fund{
	color: #949ead;
	font-size:10px;
	margin-top:20px;
	margin-right:10px;
	text-align:right
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.split_ctrl{
	
	
	
}
img.toggle{
	position:absolute;
	top:26px;
	z-index:4;
	cursor:pointer;
}

img.sync{
	position:absolute;
	top:0;
	z-index:4;	
	cursor:pointer;
}

#panel_left .split_ctrl img.toggle{
	right:1px;	
}
#panel_left .split_ctrl img.sync{
	right:0px;	
}
#panel_right .split_ctrl img.sync{
	left:0px;	
}
#panel_right .split_ctrl img.toggle{
	left:1px;	
}


p.credits{
	margin-top:15px;
	margin-right:20px;
	text-align:right;
	color:#becbdc;
	text-shadow: #013e88 0px -1px 0px;
}

.layer_ctrl{
	background:#f0f0f0 url("../img/MED_icon_capas.png") no-repeat left 9;
	position:absolute;
	bottom: 0px;
	right:0px;
	z-index:4;
	height: 24px;
	line-height:24px;
	padding-left: 10px;
	padding-right: 25px;
	color:#333333 !important;
	font-weight:bold;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	border-top: 1px solid #888;
	border-left: 1px solid #888;
/* 	-webkit-border-radius: 5px; */
/* 	border-radius: 5px; */
	border-top-left-radius: 5px;
	text-shadow: #fff 0px -1px 0px;
	z-index:1002;
	background-position: 55px;
	
}
.layer_ctrl.open{
	background-image: url("../img/MED_icon_cerrar_capas.png");	
}

.layer_panel{
	position: absolute;	
/* 	background: url("../img/MED_fondo_capas.png") repeat-x left top;	 */
	background-color: white;
	bottom: 0;
/* 	left: 0; */
	right:0;
	width: 40%;	
	height: 70%;
	z-index:1001;
	padding-bottom:40px;
	padding-top:70px;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	border-radius: 4px 0px 0px 0px;

}

.layer_panel.close{
	background: url("../img/MED_fondo_capas.png") repeat-x left top;
	height: 60px;
	overflow: hidden;	
	z-index:1;
	padding-bottom:0;
	padding-top:0;
	width: 100%;	
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid #ccc;
	
}
ul.layer_panel li{
	height:35px;
	clear:both;
	border-bottom: 1px solid #E5E5E5;
	color:#cccccc;
	padding-left:10px;
	padding-right:25px;	
	line-height: 35px;
	position: relative;
	bottom: 70px;
	background: url("../img/border_img.gif") repeat-y 8px white;
}

ul.layer_panel li:FIRST-CHILD{
	padding-left: 43px;
	color:black;
	border-radius: 2px;
}

/* ul.layer_panel li span{ */
/* 	float:left;	 */
/* } */

ul.layer_panel li input[type="checkbox"]{
	position: relative;
	top: 3px;
	margin-left: 0px;
	margin-right: 20px;
}

ul.layer_panel li a{
	float: left;
	margin-right: 8px;
	margin-top: 5px;
}

.geo{
	height:100%;
	border-left: 1px solid #424e65;
	float:left;	
}
.geo > a {
	display:block;
	margin-top:15px;
	margin-left: 20px;
}
.geo > a > * {
	float:left;
}

.uni{
	background-color:#485166;
	border-right:1px solid #1f2c47;
	height:100%;
	float:left;
}
.uni > * {
	float:left;	
	margin-top:15px;
}
.uni > img {
	display:block;
	margin-left: 20px;
}
.uni > p {
	width: 118px;
	color: #becbdc;
	margin-right: 20px;
	margin-left: 15px;
	
}

.symbol-marker,.symbol-marker>*{
	border-radius:50%;
}


